* {
    box-sizing: border-box;
}

section {
    padding: 5px;
}

.d-flex {
    display: flex;
}

.f-col {
    flex-direction: column;
}

.f-row {
    flex-direction: row;
}

.jc-sb {
    justify-content: space-between;
}

.br-red {
    background-color: red;
}

.bg-blue {
    background-color: blue;
}

.bg-pink {
    background-color: pink;
}

.bg-yellow {
    background-color: yellow;
}

.container {
    background-color: green;
    padding: 5px;
    margin: 5px;
}

.f-grow {
    flex-grow: 1;
}

.f-grow2 {
    flex-grow: 2;
}

.content {
    margin: 5px;
    height: 200px;
}

@media screen and (max-width: 900px) {
    .container {
        flex-direction: column;
    }
}